<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User account information</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/photos">Explore</a>
          <a class="navbar-brand" href="/users">Users</a>
          <a class="navbar-brand" href="/photos/new">Post new issue</a>
          <a class="navbar-brand" href="#">Contact</a>
          <button class=" this_btn btn btn-default" type="button" aria-haspopup="true" aria-expanded="false">
          <a href="../sessions/new" role="button">Sign in </a>
          </button>
      </div>
    </nav>
      <div class="container">
          <h1 class="jumbo_header"> User information </h1>
        <section>
        <h4>Photos posted by this user</h4>
            <ul>
              <% for(let i =0; i < users.photos.length; i++) {%>
                  <li>
                  <a href="/photos/<%=users.photos[i].id%>">
                  <%=users.photos[i].name%>
                  </a>
                  </li>
              <%}%>
            </ul>
      </section>

        <h2 class="jumbo_descript">username: <%=users.user%></h2>
        <h2 class="jumbo_descript">password: <%=users.password%></h2>

        <form action="/users/<%=users.id%>?_method=DELETE" method="POST">
          <input class="btn btn-primary" type="submit" value="delete this user">
        </form>

            <a href="/users/<%=users.id%>/edit" class="btn btn-default btn_edit">Edit this user</a>

      </div>
      <br />
      <br />


  </body>
</html>
